<table class="table">
  <tbody>
    <tr>
      <th><%= t('activerecord.attributes.user.email') %></th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th><%= t('activerecord.attributes.person.telephone_number') %></th>
      <td><%= @user.person.telephone_number %></td>
    </tr>
    <tr>
      <th><%= t('activerecord.attributes.person.cell_number') %></th>
      <td><%= @user.person.cell_number %></td>
    </tr>
  </tbody>
</table>
